<ion-header>
  <ion-toolbar color="success" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="ToggleMenu()">
        <ion-icon slot="icon-only" [icon]="MenuIcon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-uppercase" style="font-weight: 800;">Tamias</ion-title>

    <ion-buttons slot="end">
      <ion-chip [color]="AvatarColor" id="user-avatar-btn" mode="ios">
        <ion-label style="font-weight: bold;">{{ UserInitials }}</ion-label>
      </ion-chip>
    </ion-buttons>

    <ion-popover trigger="user-avatar-btn" [dismissOnSelect]="true" mode="ios">
      <ng-template>
        <ion-content color="light">
          <ion-list>
            <ion-item lines="full">
              <ion-label>
                <h2 style="font-weight: bold;">{{ FullName }}</h2>
                <p style="font-size: 0.9em;">{{ Email }}</p>
              </ion-label>
            </ion-item>

            <ion-item button (click)="Logout()" detail="false">
              <ion-icon slot="start" [icon]="LogOutIcon" color="danger"></ion-icon>
              <ion-label color="danger">Cerrar sesión</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
