<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transactions"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos de Transacción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isDataLoading()" class="ion-text-center ion-padding-top">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando datos del registro...</p>
  </div>

  <form *ngIf="form && !isDataLoading()" [formGroup]="form">
    <ion-select
      mode="md"
      fill="outline"
      label="Usuario *"
      labelPlacement="stacked"
      formControlName="UserId"
      placeholder="Seleccione..."
      [errorText]="getErrorMessage('CurrencyId')"
      readonly
      interface="popover"
      class="ion-margin-bottom"
    >
      <ion-select-option [value]="null">Seleccione...</ion-select-option>
      <ion-select-option *ngIf="selectedUser() as sel" [value]="sel.Id">
        {{ userLabelFn(sel) }}
      </ion-select-option>
      <ng-container *ngFor="let item of users()">
        <ion-select-option *ngIf="item.Id !== selectedUser()?.Id" [value]="item.Id">
          {{ userNoteFn(item) }}
        </ion-select-option>
      </ng-container>
    </ion-select>
    <ion-select
      mode="md"
      fill="outline"
      label="Centro de costo *"
      labelPlacement="stacked"
      formControlName="CostCenterId"
      placeholder="Seleccione..."
      [errorText]="getErrorMessage('CostCenterId')"
      readonly
      interface="popover"
      class="ion-margin-bottom"
    >
      <ion-select-option [value]="null">Seleccione...</ion-select-option>
      <ion-select-option *ngIf="selectedCostCenter() as sel" [value]="sel.Id">
        {{ costCenterLabelFn(sel) }}
      </ion-select-option>
      <ng-container *ngFor="let item of costCenters()">
        <ion-select-option *ngIf="item.Id !== selectedCostCenter()?.Id" [value]="item.Id">
          {{ costCenterNoteFn(item) }}
        </ion-select-option>
      </ng-container>
    </ion-select>
    <ion-select
      mode="md"
      fill="outline"
      label="Moneda *"
      labelPlacement="stacked"
      formControlName="CurrencyId"
      placeholder="Seleccione..."
      [errorText]="getErrorMessage('CurrencyId')"
      readonly
      interface="popover"
      class="ion-margin-bottom"
    >
      <ion-select-option [value]="null">Seleccione...</ion-select-option>
      <ion-select-option *ngIf="selectedCurrency() as sel" [value]="sel.Id">
        {{ currencyLabelFn(sel) }}
      </ion-select-option>
      <ng-container *ngFor="let item of currencies()">
        <ion-select-option *ngIf="item.Id !== selectedCurrency()?.Id" [value]="item.Id">
          {{ currencyLabelFn(item) }}
        </ion-select-option>
      </ng-container>
    </ion-select>
    <ion-select
      mode="md"
      fill="outline"
      label="Método de pago *"
      labelPlacement="stacked"
      formControlName="PaymentMethodId"
      placeholder="Seleccione..."
      [errorText]="getErrorMessage('PaymentMethodId')"
      readonly
      interface="popover"
      class="ion-margin-bottom"
    >
      <ion-select-option [value]="null">Seleccione...</ion-select-option>
      <ion-select-option *ngIf="selectedPaymentMethod() as sel" [value]="sel.Id">
        {{ paymentMethodLabelFn(sel) }}
      </ion-select-option>
      <ng-container *ngFor="let item of paymentMethods()">
        <ion-select-option *ngIf="item.Id !== selectedPaymentMethod()?.Id" [value]="item.Id">
          {{ paymentMethodNoteFn(item) }}
        </ion-select-option>
      </ng-container>
    </ion-select>
    <ion-select
      mode="md"
      fill="outline"
      label="Evento"
      labelPlacement="stacked"
      formControlName="EventId"
      placeholder="Seleccione..."
      [errorText]="getErrorMessage('EventId')"
      readonly
      interface="popover"
      class="ion-margin-bottom"
    >
      <ion-select-option [value]="null">Seleccione...</ion-select-option>
      <ion-select-option *ngIf="selectedEvent() as sel" [value]="sel.Id">
        {{ eventLabelFn(sel) }}
      </ion-select-option>
      <ng-container *ngFor="let item of events()">
        <ion-select-option *ngIf="item.Id !== selectedEvent()?.Id" [value]="item.Id">
          {{ eventNoteFn(item) }}
        </ion-select-option>
      </ng-container>
    </ion-select>
    <ion-select
      mode="md"
      fill="outline"
      label="Préstamo"
      labelPlacement="stacked"
      formControlName="LoanId"
      placeholder="Seleccione..."
      [errorText]="getErrorMessage('LoanId')"
      readonly
      interface="popover"
      class="ion-margin-bottom"
    >
      <ion-select-option [value]="null">Seleccione...</ion-select-option>
      <ion-select-option *ngIf="selectedLoan() as sel" [value]="sel.Id">
        {{ loanLabelFn(sel) }}
      </ion-select-option>
      <ng-container *ngFor="let item of loans()">
        <ion-select-option *ngIf="item.Id !== selectedLoan()?.Id" [value]="item.Id">
          {{ loanNoteFn(item) }}
        </ion-select-option>
      </ng-container>
    </ion-select>
    <ion-select
      mode="md"
      fill="outline"
      label="Gasto pendiente"
      labelPlacement="stacked"
      formControlName="PendingExpenseId"
      placeholder="Seleccione..."
      [errorText]="getErrorMessage('PendingExpenseId')"
      readonly
      interface="popover"
      class="ion-margin-bottom"
    >
      <ion-select-option [value]="null">Seleccione...</ion-select-option>
      <ion-select-option *ngIf="selectedPendingExpense() as sel" [value]="sel.Id">
        {{ pendingExpenseLabelFn(sel) }}
      </ion-select-option>
      <ng-container *ngFor="let item of pendingExpenses()">
        <ion-select-option *ngIf="item.Id !== selectedPendingExpense()?.Id" [value]="item.Id">
          {{ pendingExpenseNoteFn(item) }}
        </ion-select-option>
      </ng-container>
    </ion-select>
    <ion-input
          mode="md"
          fill="outline"
          label="Fecha *"
          labelPlacement="stacked"
          type="date"
          formControlName="AccountingPeriod"
          [errorText]="getErrorMessage('AccountingPeriod')"
          class="ion-margin-bottom"
          readonly
     ></ion-input>
     <ion-input
          mode="md"
          fill="outline"
          label="Tasa aplicada"
          labelPlacement="stacked"
          type="number"
          formControlName="AppliedExchangeRate"
          [errorText]="getErrorMessage('AppliedExchangeRate')"
          class="ion-margin-bottom"
          readonly
     ></ion-input>
     <ion-select
          mode="md"
          fill="outline"
          label="Tipo de Transacción *"
          labelPlacement="stacked"
          formControlName="TransactionType"
          placeholder="Seleccione un tipo"
          interface="popover"
          [errorText]="getErrorMessage('TransactionType')"
          class="ion-margin-bottom"
          readonly
     >
          <ion-select-option value="Income">Ingreso</ion-select-option>
          <ion-select-option value="Expense">Gasto</ion-select-option>
     </ion-select>
     <ion-input
          mode="md"
          fill="outline"
          label="Monto *"
          labelPlacement="stacked"
          type="number"
          formControlName="TransactionAmount"
          placeholder="0.00"
          [errorText]="getErrorMessage('TransactionAmount')"
          class="ion-margin-bottom"
          readonly
     ></ion-input>
     <ion-input
          mode="md"
          fill="outline"
          label="Descripción"
          labelPlacement="stacked"
          type="text"
          formControlName="TransactionDescription"
          placeholder="Descripción de la transacción"
          [errorText]="getErrorMessage('TransactionDescription')"
          class="ion-margin-bottom"
          readonly
     ></ion-input>
  </form>
</ion-content>
