ion-list-header {
  border-bottom: 1px solid var(--ion-color-medium-tint);
  padding-left: 16px;
  padding-right: 16px;

  ion-col {
    b {
      font-weight: 600; // Slightly bolder
    }
  }
}

ion-item ion-col {
    padding-top: 4px;
    padding-bottom: 4px;
}
